/*
  estilos de las etiquetas utilizados
*/

header{
  background-color: black; /* La cabecera de fondo será negra */
  color: white;
  background-image: url("../images/bg-img-header.png"); /*eso sería la foto del cv*/
  background-repeat: no-repeat;
  background-position: 75% 50%;
  margin-left: 3em;
  margin-right: 3em;
}

h1{
  margin-left: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35pt;
  font-style: normal;
  margin-bottom: 0em;
}

h2{
  margin-left: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20pt;
  font-style: normal;
}

h3{
  margin-left: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  font-style: normal;
}

p{
  margin: 2em;
}
@media only screen and (min-width: 360px){
  body{
    width: 95%;
  }
  header{
    background-image:none;
  }
  .centro{
    margin-right: 0px;
    margin-left: 0px;
  }
  .titulo1{
    margin-left: 0px;
    font-size: 20pt;
  }
  h1,h2,h3{
    margin-left: 0px;
  }
  h3{
    font-size: 14pt;
  }
}
@media only screen and (min-width: 480px){
  body{
    width: 95%;
  }
  header{
    background-image:none;
  }
  .centro{
    margin-right: 0px;
    margin-left: 100px;
  }
  .titulo1{
    margin-left: 100px;
    font-size: 30pt;
  }

  h1,h2,h3{
    margin-left: 150px;
  }
  h3{
    font-size: 16pt;
  }
}

@media only screen and (min-width: 768px){
  header{
    background-image:none;
  }
  .centro{
    margin-left: 200px;
    margin-right: 0px;
  }
  .titulo1{
    margin-left: 200px;
    font-size: 30pt;
  }
  h1,h2,h3{
    margin-left: 150px;
  }
  h3{
    font-size: 16pt;
  }
}
@media only screen and (min-width: 992px){
  body{
    width: 90%;
    max-width: 1100px;
  }
  header{
    background-image:url("../images/bg-img-header.png");
  }
}

